.page {
  display: flex;
  min-height: 100vh;
}

.profile-picture-pane {
  width: 100%;
  min-height: 240px;
  background-image: url("/assets/images/me.webp");
  background-size: cover;
  background-position: center center;
}

.description-pane {
  width: 100%;
  display: flex;

  .description {
    padding: 32px;
    width: 100%;
    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.links {
  display: flex;

  a {
    padding: 16px 8px;
    display: inline-block;
    color: #ff4545;
    text-decoration: none;
    text-transform: capitalize;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

@media only screen and (max-width: 576px) {
  .page {
    flex-direction: column;
  }
  .profile-picture-pane {
    background-position: center 30%;
  }
}
