.page {
  display: flex;
  height: 100vh;
  max-height: 1280px;
  max-width: 800px;
}

.profile-picture-pane {
  width: 100%;
  min-height: 240px;
  background-image: url("/assets/images/me.webp");
  background-size: cover;
  background-position: center center;
}

.description-pane {
  width: 100%;
  display: flex;

  .description {
    padding: 32px;
    width: 100%;
    max-width: 375px;
    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;

  a {
    padding: 16px;
    display: inline-block;
    color: #ff4545;
    text-decoration: none;
    text-transform: capitalize;
  }
}

@media only screen and(max-width: 1024px) {
  .profile-picture-pane {
    max-width: 240px;
  }
}

@media only screen and(max-width: 768px) {
  .profile-picture-pane {
    max-width: 160px;
    background-position-x: 70%;
  }
}

@media only screen and(max-width: 420px) {
  .profile-picture-pane {
    max-width: 72px;
    background-position-x: 65%;
  }
}
