<div class="page">
  <div class="profile-picture-pane"></div>

  <div class="description-pane">
    <div class="description">
      <section>
        <h1 class="title">Rens Jaspers</h1>
        <h2 class="subtitle">
          Full Stack Developer in Amsterdam, The Netherlands
        </h2>
        <p>
          I have worked on healthcare information systems as a frontend
          developer since 2014.
        </p>
        <p>In 2019 I started working as a full stack developer.</p>
        <p>Angular 2+ and NestJS applications are my specialty.</p>
        <p>
          Before my IT career I studied East Asian Studies (MA) and Japan
          Studies (BA) at Leiden University, focusing on linguistics and online
          communication.
        </p>
        <p>
          In my spare time I enjoy photography, playing classical guitar, and
          chess.
        </p>
      </section>

      <div class="links">
        <a href="https://github.com/rensjaspers">GitHub</a>
        <a href="https://nl.linkedin.com/in/rensjaspers">LinkedIn</a>
        <a href="mailto:rens.jaspers@gmail.com">E-mail</a>
      </div>
    </div>
  </div>
</div>
