<div class="page">
  <div class="profile-picture-pane"></div>

  <div class="description-pane">
    <div class="description">
      <section>
        <h1 class="title">Rens Jaspers</h1>
        <h2 class="subtitle">
          Full Stack Developer in Amsterdam, The Netherlands
        </h2>
        <p>
          I have worked as a web frontend developer since 2014. In 2019 I became
          a full stack web developer.
        </p>
        <p>
          Angular, Ionic, NestJS and MySQL are my specialty. I mainly work on
          healthcare applications.
        </p>
        <p>
          Before my IT career I studied East Asian Studies (MA) and Japan
          Studies (BA) at Leiden University, focusing on linguistics and online
          communication.
        </p>
        <p>
          In my spare time I enjoy photography, playing classical guitar, and
          chess.
        </p>
      </section>

      <div class="links">
        <a href="https://github.com/rensjaspers">GitHub</a>
        <a href="https://nl.linkedin.com/in/rensjaspers">LinkedIn</a>
        <a href="mailto:rens.jaspers@gmail.com">Email</a>
      </div>
    </div>
  </div>
</div>
